* {
    padding: 0;
    margin: 0 auto;
}

.wrapper {
    height: 900px;
    width: 800px;
}

header {
    background-color: rgb(171, 71, 9);
    height: 80px;
    border-bottom: solid 2px;
}

header h1 {
    color: rgb(109, 160, 14);
    font-size: 40px;
    padding: 15px;
    word-spacing: 5px;
    letter-spacing: 5px;
    margin-left: 20px;
    text-shadow: -6px -3px 7px white;
}

nav {
    height: 30px;
    word-spacing: 40px;
    border-bottom: solid 2px;
}

nav li {
    display: inline-flex
}

nav a {
    text-decoration: none;
    list-style: none;
    color: brown;
    margin-left: 30px;
    margin-top: 5px;
}

.content {
    height: 490px;
    width: 100%;
}

.content img {
    width: 100%;
}

.cnt1 {
    width: 69%;
    height: 400px;
    float: left;
    border-right: solid 1px gray;
}

.cnt2 {
    width: 30%;
    height: 400px;
    float: left;
}

footer {
    height: 100px;
    width: 100%;
}

.cnt1 h2,
.cnt1 p {
    color: rgb(192, 167, 5);
    margin: 20px;
}

.cnt1-p {
    margin-left: 30px;
    width: 500px;
    text-align: justify;
}

input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    width: 85%;
    margin-left: 20px;
}

.cnt1-p button {
    background-color: rgba(77, 97, 9, 0.797);
    color: white;
    border-style: hidden;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.cnt2 h2 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    position: relative;
    top: 5px;
    letter-spacing: 4px;
}

.cnt2 li {
    list-style: inside;
    margin-left: 30px;
    color: rgba(240, 120, 8, 0.859);
    position: relative;
    top: 40px;
}

.cnt2 a {
    text-decoration: none;
    color: rgba(240, 120, 8, 0.859);
}

.bang1 {
    background-color: rgba(239, 203, 136, 0.627);
    height: 45%;
    width: 90%;
    border-radius: 30px 30px 0px 0px;
    margin-top: 30px;
}

.bang2 {
    height: 45%;
    width: 100%;
    margin-top: 10px;
}

.bang2 h2 {
    margin-left: 30px;
}

.bang2 p {
    text-align: justify;
    width: 85%;
    margin-top: 25px;
    margin-left: 10px;
}

.bang2 img {
    float: left;
    border: solid 1px;
    padding: 10px;
    width: 60px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

footer img {
    width: 100%;
}