body {
    margin: 0%;
}

.boxcenter {
    width: 65%;
    margin: 0 auto;
}

.wraper {
    float: left;
    width: 100%;
}

header {
    background-color: rgb(44, 204, 65);
    min-height: 200px;
}

nav {
    background-color: rgb(111, 33, 179);
    min-height: 50px;
}

article {
    float: left;
    width: 70%;
    background-color: rgb(176, 192, 29);
    min-height: 350px;
}

aside {
    float: left;
    width: 30%;
    background-color: rgb(27, 41, 163);
    min-height: 350px;
}

footer {
    background-color: rgb(198, 39, 137);
    min-height: 150px;
}