*{
    font-family: cursive;
    font-size: 105%;
}
form .btn {
    border-radius: 50px;
    color: aliceblue;
}
h1{
    font-family: 'Dancing Script';
}
.gachchan{
    text-decoration: none;
}